# API
API_URL=https://api.example.com
API_KEY=
API_AUTHORIZATION=

# MQTT
MQTT_HOST=broker.example.com
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_USER_NAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=smart-home-database-sync
MQTT_TOPIC=device/state
MQTT_PUBLISH_TOPIC=device/updated
MQTT_TOPIC_SMARTHOME_DISCOVERY=smarthome/discovery

# Runtime
NODE_ENV=development
LOG_LEVEL=info
